body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}

.container {
  display: flex;
  gap: 12px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.isbalanced {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.instructions {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.examples {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
